<%- include('../partials/header') %>

<h1>Manage Jobs</h1>

<a href="/admin/jobs/new" class="btn btn-success mb-3">
    + Add Job
</a>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>ID</th>
            <th>Company</th>
            <th>Title</th>
            <th>Category</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>

    <% jobs.forEach(job => { %>

        <tr>

            <td><%= job.id %></td>
            <td><%= job.company %></td>
            <td><%= job.title %></td>
            <td><%= job.category %></td>
            <td><%= job.job_type %></td>

            <td>

                <a href="/admin/jobs/edit/<%= job.id %>"
                   class="btn btn-warning btn-sm">
                   Edit
                </a>

                <a href="/admin/jobs/delete/<%= job.id %>"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('Delete this job?')">
                   Delete
                </a>

            </td>

        </tr>

    <% }) %>

    </tbody>

</table>



<%- include('../partials/footer') %>